@model IEnumerable<U2S2D2.Models.Pagamento>

@{
    ViewBag.Title = "StoricoPagamenti";
}

<h2>StoricoPagamenti</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDDipendente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmmontarePagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDDipendente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmmontarePagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPagamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<!--aggiungo ActionLink per visualizzare storico pagamenti-->
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Vedi Storico Pagamenti", "StoricoPagamenti") 
</p>
